body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper .fa-bars{
      font-size:25px;
  }

  footer {
      margin-top:20px;
  }

.input-field label {
    pointer-events: auto;
}

.checkbox-amber[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ffa000;
     background-color: #ffa000;
}

.story-text{
    height:120px;
}

.dash-status{
    text-transform:capitalize;
}

#delete-form{
    display:inline;
}

.card-story{
    color:grey;
    font-weight:thin;
}

.card-content-date{
    color:grey;
}