<h1>Welcome</h1>
<p>Welcome to JotzAlot 1.0.0</p>
<p>Post jotz from the best and worst of your life and
choose to share them with the world or keep them completely private as your own
personal journal.</p>
{{#if user}}

{{else}}
    <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}
